@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
  .container {
    @apply mx-auto px-[30px];
  }
  .centering {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply transition-all duration-200 bg-gradient-to-r from-accent-cyan to-accent-blue hover:to-accent-cyan rounded-[100px] !important;
  }

}
body {
  font-family: "Open Sans";
  background-color: hsl(217, 28%, 13%);
}

h1,
h2,
h3 {
  font-family: "Raleway";
}
